# Ejercicio 1: Verifica el tipo de dato
**Enunciado**:
Crea una variable con un número entero, una con un número decimal y una con texto. Imprime el tipo de cada una usando type().

**Explicación:** En Python, cada valor tiene un tipo de dato: int, float, str, etc.
type(variable) devuelve el tipo de esa variable.

In [1]:
entero = 5
decimal = 3.14
texto = "Hola"

print("Tipo de 'entero':", type(entero))
print("Tipo de 'decimal':", type(decimal))
print("Tipo de 'texto':", type(texto))

Tipo de 'entero': <class 'int'>
Tipo de 'decimal': <class 'float'>
Tipo de 'texto': <class 'str'>

# Ejercicio 2: Conversión de tipos
**Enunciado:** solicite un número decimal al usuario y conviértelo a entero y cadena. Muestre los resultados y los tipos.

**Explicación:** input() recibe texto, así que se debe convertir a float primero.

Luego, se convierte a:
    
    * Entero con int()
    * Cadena con str()
Finalmente se usa type() para mostrar el tipo de cada resultado.

In [5]:
numero_decimal = float(input("Ingresa un número decimal: "))

numero_entero = int(numero_decimal)
numero_cadena = str(numero_decimal)

print("Versión entera:", numero_entero, "| Tipo:", type(numero_entero))
print("Versión como texto:", numero_cadena, "| Tipo:", type(numero_cadena))

Ingresa un número decimal:  7.5

Versión entera: 7 | Tipo: <class 'int'>
Versión como texto: 7.5 | Tipo: <class 'str'>

# Ejercicio 3: Redondeo de número flotante
**Enunciado:** Crear una variable con un número decimal y redondéalo a 2 decimales.
**Explicación:** se puede usar la función round(valor, decimales) para redondear.

Por ejemplo: **round**(3.14159, 2) da como resultado 3.14.

In [6]:
pi = 3.14159
pi_redondeado = round(pi, 2)

print("Valor original:", pi)
print("Redondeado a 2 decimales:", pi_redondeado)

Valor original: 3.14159
Redondeado a 2 decimales: 3.14

# Ejercicio 4: Operación con tipos diferentes
**Enunciado:** Debe crear una variable entera y una flotante. Luego, debe sumarlas y mostrar el tipo del resultado.

**Explicación:** En Python, cuando se suma un int con un float, el resultado es automáticamente un float.

Esto se debe a la promoción de tipos: 
* En Python, cuando se suma un int con un float, el resultado es automáticamente un float.
* Esto se debe a la promoción de tipos: Python preserva la mayor precisión.

In [9]:
entero = 2
decimal = 3.5

resultado = entero + decimal

print("Resultado de la suma:", resultado)
print("Tipo del resultado:", type(resultado))

Resultado de la suma: 5.5
Tipo del resultado: <class 'float'>

# Ejercicio 5: Entrada numérica
**Enunciado:** Debe solicitar al usuario su edad y mostrarla como número entero, flotante y como cadena.

**Explicación:** 
* input() siempre retorna un string, por lo tanto se convierte explícitamente a int y a float.
* Luego, se imprime cada valor y su tipo con type().

In [10]:
entrada = input("Ingrese su edad: ")

edad_entero = int(entrada)
edad_decimal = float(entrada)
edad_cadena = str(entrada)

print("Edad como entero:", edad_entero, "| Tipo:", type(edad_entero))
print("Edad como decimal:", edad_decimal, "| Tipo:", type(edad_decimal))
print("Edad como cadena:", edad_cadena, "| Tipo:", type(edad_cadena))

Ingrese su edad:  42

Edad como entero: 42 | Tipo: <class 'int'>
Edad como decimal: 42.0 | Tipo: <class 'float'>
Edad como cadena: 42 | Tipo: <class 'str'>

# Ejercicio 6: Comparación de edades

**Enunciado:** Debe comparar la edad de dos personas e imprimir quién es mayor, menor o si tienen la misma edad.

**Explicación:**
* Se solicitan dos edades al usuario.
* Se convierten a enteros.
* Se usa condicional `if`, `elif` y `else` para determinar la relación entre ambas edades.

In [13]:
edad1 = int(input("Ingrese la edad de la primera persona: "))
edad2 = int(input("Ingrese la edad de la segunda persona: "))

if edad1 > edad2:
    print("La primera persona es mayor.")
elif edad1 < edad2:
    print("La segunda persona es mayor.")
else:
    print("Ambas personas tienen la misma edad.")

Ingrese la edad de la primera persona:  42
Ingrese la edad de la segunda persona:  42

Ambas personas tienen la misma edad.

# Ejercicio 7: Verifica si un número está en un rango

**Enunciado:** Debe pedir un número al usuario y verificar si está entre 10 y 20 (inclusive).

**Explicación:**  
* Se solicita un número al usuario y se convierte a entero.
* Se usa una condición con operadores lógicos para verificar si está dentro del rango.
* Se imprime el resultado correspondiente.

In [14]:
numero = int(input("Ingrese un número: "))

if 10 <= numero <= 20:
    print("El número está en el rango de 10 a 20.")
else:
    print("El número está fuera del rango.")

Ingrese un número:  56

El número está fuera del rango.

# Ejercicio 8: Comprobación de igualdad de cadenas

**Enunciado:**  
Debe verificar si dos cadenas ingresadas por el usuario son iguales, ignorando mayúsculas.

**Explicación:**  
* Se piden dos textos al usuario.
* Se convierten ambas cadenas a minúsculas con `.lower()` para que la comparación no distinga mayúsculas.
* Se compara si son iguales y se muestra el resultado.

In [15]:
texto1 = input("Ingrese la primera cadena: ")
texto2 = input("Ingrese la segunda cadena: ")

if texto1.lower() == texto2.lower():
    print("Las cadenas son iguales.")
else:
    print("Las cadenas son diferentes.")

Ingrese la primera cadena:  hola mundo
Ingrese la segunda cadena:  hola

Las cadenas son diferentes.

# Ejercicio 9: Lista de compras

**Enunciado:**  
Debe crear una lista de compras, añadir 3 productos, eliminar 1 y mostrar la lista final.

**Explicación:**  
* Se define una lista vacía.
* Se agregan 3 productos con el método `.append()`.
* Se elimina uno de ellos con `.remove()`.
* Se imprime la lista resultante.

In [17]:
lista_compras = []

# Añadir productos
lista_compras.append("pan")
lista_compras.append("leche")
lista_compras.append("huevos")
print("1 - Lista Inicial de compras:", lista_compras)
# Eliminar uno
lista_compras.remove("leche")

# Mostrar resultado
print("2 - Lista final de compras:", lista_compras)

1 - Lista Inicial de compras: ['pan', 'leche', 'huevos']
2 - Lista final de compras: ['pan', 'huevos']

# Ejercicio 10: Contar elementos en una lista

**Enunciado:**  
Debe crear una lista de frutas y contar cuántas veces aparece una fruta específica.

**Explicación:**  
* Se crea una lista con algunas frutas, incluyendo repeticiones.
* Se utiliza el método `.count(valor)` para contar cuántas veces aparece una fruta dada.
* Se imprime el resultado.


**f"..."** se refiere a una f-string (formatted string literal). Sirve para insertar variables o expresiones directamente dentro de una cadena de texto.

In [19]:
frutas = ["manzana", "pera", "manzana", "banano", "manzana"]
fruta_a_buscar = "banano"

cantidad = frutas.count(fruta_a_buscar)

print(f"La fruta '{fruta_a_buscar}' aparece {cantidad} veces.")

La fruta 'banano' aparece 1 veces.

# Ejercicio 11: Suma de elementos en tupla

**Enunciado:**  
Debe crear una tupla de 5 números y calcular la suma total de sus elementos.

**Explicación:**  
* Una tupla es similar a una lista, pero es inmutable (no se puede modificar).
* Se utiliza la función incorporada `sum()` para obtener la suma de todos los valores de la tupla.

In [20]:
numeros = (1, 2, 3, 4, 5)
suma_total = sum(numeros)

print("La suma total de los elementos es:", suma_total)

La suma total de los elementos es: 15

# Ejercicio 12: Convertir tupla a lista

**Enunciado:**  
Debe convertir una tupla de nombres a una lista y añadir un nuevo nombre.

**Explicación:**  
* Las tuplas no se pueden modificar, por eso primero se convierten en una lista con `list()`.
* Luego, se añade un nuevo elemento usando `.append()`.
* Finalmente, se imprime la lista resultante.

In [21]:
nombres_tupla = ("Ana", "Luis")
nombres_lista = list(nombres_tupla)

nombres_lista.append("Marta")

print("Lista final de nombres:", nombres_lista)

Lista final de nombres: ['Ana', 'Luis', 'Marta']

# Ejercicio 13: Contador con while

**Enunciado:**  
Debe imprimir los números del 1 al 10 utilizando un ciclo `while`.

**Explicación:**  
* Se inicializa una variable en 1.
* Mientras esa variable sea menor o igual a 10, se imprime su valor.
* En cada iteración se incrementa en 1 usando `+= 1` para evitar un bucle infinito.

In [25]:
contador = 1

while contador <= 10:
    print(contador, end="  ")
    contador += 1

1  2  3  4  5  6  7  8  9  10

# Ejercicio 14: Suma acumulada con while

**Enunciado:**  
Debe pedir números al usuario hasta que ingrese 0. Luego debe mostrar la suma total.

**Explicación:**  
* Se usa un ciclo `while` que se repite mientras el número ingresado no sea 0.
* En cada iteración, se suma el valor ingresado a un acumulador.
* Cuando se ingresa 0, el programa termina y muestra la suma total.

In [26]:
suma_total = 0

while True:
    numero = int(input("Ingrese un número (0 para terminar): "))
    if numero == 0:
        break
    suma_total += numero

print("La suma total es:", suma_total)

Ingrese un número (0 para terminar):  4
Ingrese un número (0 para terminar):  5
Ingrese un número (0 para terminar):  6
Ingrese un número (0 para terminar):  8
Ingrese un número (0 para terminar):  9
Ingrese un número (0 para terminar):  0

La suma total es: 32

# Ejercicio 15: Iterar sobre una lista con for

**Enunciado:**  
Debe imprimir cada elemento de una lista junto con su índice.

**Explicación:**  
* Se define una lista con algunos elementos.
* Se usa la función `enumerate()` dentro de un ciclo `for` para obtener tanto el índice como el valor.
* Se imprime cada par índice-valor en una línea.

La función enumerate() permite recorrer una colección (como una lista) y al mismo tiempo obtener el índice de cada elemento, sin tener que llevar una variable manual para contar

In [27]:
letras = ["a", "b", "c", "d"]

for indice, valor in enumerate(letras):
    print(f"{indice}: {valor}")

0: a
1: b
2: c
3: d

# Ejercicio 16: Calcular el promedio

**Enunciado:**  
Dada una lista de calificaciones, debe calcular e imprimir el promedio.

**Explicación:**  
* Se define una lista con varias calificaciones numéricas.
* Se usa la función `sum()` para sumar todos los valores.
* Se divide la suma entre la cantidad de elementos con `len()`.
* Finalmente, se imprime el promedio.

In [28]:
calificaciones = [10, 9, 8, 7, 9]
promedio = sum(calificaciones) / len(calificaciones)

print("El promedio de las calificaciones es:", promedio)

El promedio de las calificaciones es: 8.6

# Ejercicio 17: Imprimir solo números pares del 1 al 20

**Enunciado:**  
Debe utilizar un ciclo `for` para imprimir únicamente los números pares entre 1 y 20.

**Explicación:**  
* Se recorre un rango del 1 al 20 usando `range()`.
* En cada iteración se verifica si el número es par con `num % 2 == 0`.
* Si es par, se imprime en la misma línea con `end=' '`.

In [29]:
for num in range(1, 21):
    if num % 2 == 0:
        print(num, end=' ')

2 4 6 8 10 12 14 16 18 20

# Ejercicio 18: Crear un diccionario de estudiante

**Enunciado:**  
Debe crear un diccionario que contenga el nombre, la edad y el curso de un estudiante. Luego, debe imprimirlo completo.

**Explicación:**  
* Un diccionario en Python es una colección de pares clave-valor.
* Se define el diccionario con llaves `{}`.
* Cada clave tiene un valor asociado (por ejemplo: `"nombre": "Ana"`).
* Se imprime el diccionario directamente.

In [36]:
estudiante = {
    "nombre": "Francisco",
    "edad": 41,
    "curso": "Python"
}

print("Diccionario del estudiante:", estudiante)

Diccionario del estudiante: {'nombre': 'Francisco', 'edad': 41, 'curso': 'Python'}

# Ejercicio 19: Actualizar valor en diccionario

**Enunciado:**  
Debe modificar la edad del estudiante del ejercicio anterior y agregar una nueva clave llamada `"nota final"`.

**Explicación:**  
* Para actualizar un valor en el diccionario, se usa `diccionario["clave"] = nuevo_valor`.
* Para agregar una nueva clave, simplemente se asigna como si ya existiera.
* Al final, se imprime el diccionario actualizado.


Para acceder a un dato específico de un diccionario en Python, se utiliza la clave entre corchetes ([]) o el método .get().

In [40]:
# Se parte del diccionario anterior
estudiante["edad"] = 42
estudiante["nota final"] = 9.0

print("Diccionario actualizado del estudiante:", estudiante)
print("Solo el nombre", estudiante["nombre"])
print("Usando el get()", estudiante.get("nombre"))

Diccionario actualizado del estudiante: {'nombre': 'Francisco', 'edad': 42, 'curso': 'Python', 'nota final': 9.0}
Solo el nombre Francisco
USando el get() Francisco

# Ejercicio 20: Iterar sobre un diccionario

**Enunciado:**  
Debe imprimir todas las claves y valores del diccionario del estudiante, línea por línea.

**Explicación:**  
* Se recorre el diccionario usando un ciclo `for` junto con el método `.items()`.
* En cada iteración, se obtiene la clave y el valor.
* Ambos se imprimen en una sola línea con formato `clave: valor`.

In [41]:
for clave, valor in estudiante.items():
    print(f"{clave}: {valor}")

nombre: Francisco
edad: 42
curso: Python
nota final: 9.0

# Ejercicio 21: Crear una carpeta

**Enunciado:**  
Debe crear una carpeta llamada `datos` si no existe.

**Explicación:**  
* Se utiliza el módulo `os` para trabajar con el sistema de archivos.
* La función `os.path.exists()` verifica si la carpeta ya existe.
* Si no existe, `os.mkdir()` la crea.

In [42]:
import os

nombre_carpeta = "datos"

if not os.path.exists(nombre_carpeta):
    os.mkdir(nombre_carpeta)
    print(f"La carpeta '{nombre_carpeta}' fue creada.")
else:
    print(f"La carpeta '{nombre_carpeta}' ya existe.")

La carpeta 'datos' fue creada.

# Ejercicio 22: Crear un archivo dentro de una carpeta

**Enunciado:**  
Debe crear un archivo de texto llamado `resumen.txt` dentro de la carpeta `datos` y escribir la frase `"Laboratorio de Python"`.

**Explicación:**  
* Se usa la instrucción `with open()` para abrir o crear el archivo de forma segura.
* La ruta incluye la carpeta `datos/` y el nombre del archivo.
* El modo `'w'` indica escritura (si el archivo existe, lo sobrescribe).

In [43]:
ruta_archivo = os.path.join("datos", "resumen.txt")

with open(ruta_archivo, 'w', encoding='utf-8') as archivo:
    archivo.write("Laboratorio de Python")

print(f"Archivo 'resumen.txt' creado y contenido escrito.")

Archivo 'resumen.txt' creado y contenido escrito.

# Ejercicio 23: Leer un archivo de texto

**Enunciado:**  
Debe leer el contenido del archivo `resumen.txt` ubicado en la carpeta `datos` y mostrarlo en consola.

**Explicación:**  
* Se abre el archivo con `open()` en modo lectura `'r'`.
* Se usa `.read()` para obtener todo el contenido del archivo.
* Finalmente, se imprime lo leído en consola.

In [45]:
ruta_archivo = os.path.join("datos", "resumen.txt")

with open(ruta_archivo, 'r', encoding='utf-8') as archivo:
    contenido = archivo.read()

print("Contenido del archivo:")
print(contenido)

Contenido del archivo:
Laboratorio de Python
son 25 ejecicios de basicos de python

# Ejercicio 24: Leer archivo Excel

**Enunciado:**  
Debe cargar un archivo de Excel llamado `alumnos.xlsx` y mostrar las primeras 5 filas.

**Explicación:**  
* Se utiliza la biblioteca `pandas` para leer el archivo Excel.
* La función `pd.read_excel()` carga el archivo en un DataFrame.
* El método `.head()` muestra las primeras filas del archivo.
* Asegúrese de que el archivo `alumnos.xlsx` esté en el mismo directorio del notebook o indique su ruta completa

pandas necesita openpyxl para guardar archivos .xlsx y  También usa xlrd o openpyxl para leerlos, dependiendo del caso
para instalrlo use **pip install openpyxl**

In [49]:
import pandas as pd

archivo_excel = "alumnos.xlsx"

try:
    df = pd.read_excel(archivo_excel)
    print("Primeras 5 filas del archivo:")
    print(df.head())
except FileNotFoundError:
    print(f"No se encontró el archivo '{archivo_excel}'. Asegúrese de que esté en la ruta correcta.")

Primeras 5 filas del archivo:
  Nombre  Edad     Carrera  Promedio
0    Ana    21  Ingeniería       4.2
1   Luis    22     Derecho       3.8
2  Pedro    20    Medicina       4.5
3  Marta    23  Psicología       4.0
4  Sofía    21    Biología       3.9

# Ejercicio 25: Filtrar alumnos con nota mayor a 8

**Enunciado:**  
Debe filtrar e imprimir los alumnos cuya nota sea superior a 4 a partir del archivo `alumnos.xlsx`.

**Explicación:**  
* Se parte del DataFrame cargado previamente desde el archivo Excel.
* Se filtran las filas donde la columna `nota` sea mayor a 4.
* Se imprime el resultado.
* Asegúrese de que exista una columna llamada `nota` o `promedio` en el archivo Excel.

In [51]:
try:
    # Suponiendo que df ya fue cargado en el ejercicio anterior
    alumnos_destacados = df[df["Promedio"] > 4]
    print("Alumnos con nota mayor a 4.0:")
    print(alumnos_destacados)
except KeyError:
    print("La columna 'nota' no se encuentra en el archivo.")
except NameError:
    print("Primero debe cargar el archivo Excel y asignarlo a 'df'.")

Alumnos con nota mayor a 4.0:
   Nombre  Edad       Carrera  Promedio
0     Ana    21    Ingeniería       4.2
2   Pedro    20      Medicina       4.5
5  Carlos    22  Arquitectura       4.1
6   Lucía    20    Ingeniería       4.3